streamlit
langchain==0.1.4
langchain-core==0.1.4
langchain-groq==0.1.1
langchain-community==0.0.20
python-dotenv
faiss-cpu
sentence-transformers
youtube-transcript-api
langchain-text-splitters>=0.0.1
